@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new {step = CheckoutProgressStep.Cart})
}

<div class="order-progress">
    <ul>
        <li class="active-step"><a href="/cart">Cart</a></li>
        <li class="inactive-step"><a>Address</a></li>
        <li class="inactive-step"><a>Shipping</a></li>
        <li class="inactive-step"><a>Payment</a></li>
        <li class="inactive-step"><a>Confirm</a></li>
        <li class="inactive-step"><a>Complete</a></li>
    </ul>
</div>

<div class="page shopping-cart-page">
    <div class="page-title">
        <h1>@T("ShoppingCart")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model})
    </div>
</div>


